$primary: #537791;
$secondary: #c1c0b9;
$third: #f7f6e7;
$fourth: #e7e6e1;
$font: #333;

@import url('https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Garamond|IBM+Plex+Mono|Inconsolata|Montserrat|Roboto');

$input-families: 'IBM Plex Mono', 'Inconsolata', monospace;
$md-families: 'Cinzel', 'Cormorant Garamond', 'Montserrat', 'Roboto', sans-serif;
